.profile {
  display: flex;
  align-items: center;
  width: 75%;
}
.profile .image {
  width: 40px;
  margin-right: 10px;
  user-select: none;
}
.profile .userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-grow: 1;
}
.profile .userInfo .name {
  font-family: "Poppins-SemiBold";
  font-weight: 300;
  color: #0c0048;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 197px;
}
.profile .userInfo .title {
  color: #b3bdcb;
  font-size: 11px;
  font-family: "Poppins-Regular";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 190px;
}
.date {
  font-family: "Poppins-Regular";
  font-size: 11px;
  color: #b7b9bb;
  user-select: none;
}

/* From and To */
.from-to {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.from-to .from,
.from-to .to {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 20px;
}
.from-to .month {
  font-family: "Poppins-SemiBold";
  font-size: 12px;
  color: #6a7179;
}
.from-to .day {
  border: 2px solid #f2f4f5;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.from-to .day .text {
  font-family: "Poppins-ExtraBold";
  color: #43464a;
  font-weight: 300;
  font-size: 14px;
  margin-left: 7px;
}
.from-to .day img {
  filter: grayscale(100%);
}
.from-to .weekday {
  font-family: "Poppins-Medium";
  font-size: 11px;
  color: #a7adb2;
}
.from-to .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.from-to .middle .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.from-to .middle .arrow .text {
  font-family: "Poppins-ExtraBold";
  font-weight: bolder;
}
.from-to .middle .count {
  font-family: "Poppins-Medium";
  font-size: 11px;
  color: #a7adb2;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px solid #f1f2f3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px 20px;
}
.reason .leave-type {
  font-family: "Poppins-SemiBold";
  font-weight: 500;
  color: #6f7780;
  border-bottom: 2px solid #f1f2f3;
  padding: 11px 10px;
  font-size: 13px;
  width: 100%;
  background-color: #fbfbfc;
  user-select: none;
}
.reason .description {
  padding: 3px 10px;
  font-family: "Poppins-Regular";
  font-size: 11px;
  width: 310px;
  resize: none;
  border: none;
  height: 145px;
  overflow-y: scroll;
}
.reason .description:active,
.reason .description:focus {
  border: none;
  outline: none;
}
/* scrollbar */
.reason .description::-webkit-scrollbar {
  width: 5px;
}

/* Scrollbar Track */
.reason .description::-webkit-scrollbar-track {
  background: transparent;
}
/* Scrollbar Handle */
.reason .description::-webkit-scrollbar-thumb {
  background: #dbdcdc;
  cursor: pointer;
  border-radius: 100px;
}
