@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Poppins-semiBold";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Hind-Regular";
  src: url("./assets/fonts/Hind/Hind-Regular.ttf");
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Orbitron-Regular";
  src: url("./assets/fonts/Orbitron/Orbitron-Regular.ttf");
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  display: flex;
  justify-content: center;
  color: #0c0048;
}

.side-bar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 100vh;
  background-color: #eff6ff;
  user-select: none;
}
.side-bar > .logo {
  margin-top: 20px;
  cursor: pointer;
}
.side-bar > .menu {
  margin-top: 59px;
  flex-basis: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #0c0048;
}
.side-bar > .menu > .menu-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: "Poppins-SemiBold";
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
  padding: 10px 0;
  padding-left: 5px;
}
.side-bar > .menu > .menu-item:hover {
  opacity: 0.9;
  background-color: #dfe9ff;
  padding-left: 10px;
}
.side-bar > .menu > .menu-item.active {
  opacity: 1;
  padding-left: 0;
}
/* .side-bar > .menu > .menu-item.active:hover{
  padding-left: 5px;
} */
.side-bar > .menu > .menu-item.active::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: #0c0048;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  margin-left: 3px;
}
.side-bar > .menu > .menu-item > .icon,
.side-bar > .menu > .menu-item > .text {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  flex: 1;
  background-color: #fafafa;
  position: absolute;
  left: 240px;
  right: 0;
}
.Header {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.Header > .name {
  margin-left: 30px;
  font-family: "Poppins-Medium";
  font-size: 18px;
  font-weight: 700;
}
.header-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 160px;
  margin-right: 50px;
}
.header-options > .notifications {
  width: 30px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.header-options > .notifications:hover {
  opacity: 1;
}
.header-options > .profile,
.header-options > .profile > img {
  border-radius: 50%;
  width: 45px;
  aspect-ratio: 1/1;
  user-select: none;
}
.header-options > .profile > img {
  border: 2px solid #81ecec;
  padding: 2px;
}
.content {
  margin: 30px 50px 30px 30px;
}
